/vendor/

/.env
/.env.local
/.env.*.local

/storage/cache/*
!/storage/cache/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/storage/views/*
!/storage/views/.gitkeep

.phpunit.result.cache
.phpunit.cache/

.php-cs-fixer.cache
phpstan.neon
phpstan.neon.dist

/.idea/
/.vscode/

.DS_Store
Thumbs.db
cmd.md
